<template name="content">
	<div class="content">
		<div class="card">
			<ul class="table-view">
				<li class="table-view-cell media">
				<a href="/subject">
					<img class="media-object pull-left" src="http://lorempixel.com/100/100/food">
					<div class="media-body">
						Poo Poo Trail
						<p>If you want to engage in a most exciting event this summer, try the breathtaking Poo Poo trail.</p>
					</div>
				</a>
				</li>

				<li class="table-view-cell media">
				<a href="#">
					<img class="media-object pull-left" src="http://lorempixel.com/100/100/fashion">
					<div class="media-body">
						Poo Poo Trail
						<p>If you want to engage in a most exciting event this summer, try the breathtaking Poo Poo trail.</p>
					</div>
				</a>
				</li>
				<li class="table-view-cell media">
				<a href="#">
					<img class="media-object pull-left" src="http://lorempixel.com/100/100/technics">
					<div class="media-body">
						Poo Poo Trail
						<p>If you want to engage in a most exciting event this summer, try the breathtaking Poo Poo trail.</p>
					</div>
				</a>
				</li>
				<li class="table-view-cell media">
				<a href="#">
					<img class="media-object pull-left" src="http://lorempixel.com/100/100/city">
					<div class="media-body">
						Poo Poo Trail
						<p>If you want to engage in a most exciting event this summer, try the breathtaking Poo Poo trail.</p>
					</div>
				</a>
				</li>

			</ul>
		</div>
	</div>
	
</template>