<template name="login">
	<div class="modal" id="login-page">
		<header class="bar bar-nav">
			<a class="icon icon-close pull-right" href="#login-page"></a>
		    	<h1 class="title">Login</h1>
		</header>
		<div class="content">
		   <form class="">
			  <div class="">
			    <input type="text" id="email" placeholder="Email" />
			    <input type="text" id="password" placeholder="Password" />
			    <input type="submit" value=">" class="btn btn-block btn-outlined" />
			    
			  </div>
			</form>
		  </div>
	</div>
</template>